<nav>
	<ul>
		<li><a href=http://127.0.0.1:8081/>Acceuil</a></li>
		<li><a href=http://127.0.0.1:8081/adresses>Adresses</a></li>
		<li><a href=http://127.0.0.1:8081/peupler>Peuplement</a></li>
		<li><a href=http://127.0.0.1:8081/vider>Vider la liste des membres</a></li>
	</ul>
</nav>