<!-- Ajouts des différents composants de la page -->
<%- include('composants/head.ejs') %>
<%- include('composants/header.ejs') %>
<%- include('composants/menu.ejs') %>
<body>
<h1>ACCUEIL</h1>
</body>
<%- include('composants/footer.ejs') %>
