<!DOCTYPE html>
<html lang="fr">

<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <form action = "http://127.0.0.1:8081/ajouter" method = "get">
        <label>Prénom:</label><input type = "text" name = "prenom">
        <label>Nom:</label><input type = "text" name = "nom">
        <label>Téléphone:</label><input type = "text" name = "telephone">
        <label>email:</label><input type = "text" name = "email">
        <input type = "submit" value = "Submit">
    </form>
</body>

</html>