<!DOCTYPE html>
<html lang="fr">
<%- include('composants/head.ejs') %>

<style>
	form{
		margin:30px;
	}
</style>

<body>

	<%- include('composants/header.ejs') %>
	<%- include('composants/menu.ejs') %>

	<%- include('composants/tableau.ejs') %>
 	<%- include('composants/formulaire.ejs') %>

 <form id="mon_formulaire" action = "/modifier" method = "post">
 	<input type="hidden" name="_id">
 	<input type="hidden" name="prenom">
 	<input type="hidden" name="nom">
 	<input type="hidden" name="telephone">
 	<input type="hidden" name="email">
 </form>

 <script type="text/javascript">
 let elmSauver = document.querySelectorAll('.sauver')
 console.log('elmSauver = ' + elmSauver.length)
 for (elm of elmSauver)
 {
 elm.addEventListener('click', function(){
 /* 
 console.log(this
 .parentNode
 .parentNode
 .children[1].innerHTML)
 */
 let laLigne = this.parentNode.parentNode
 let id = laLigne.children[0].innerHTML
 let prenom = laLigne.children[2].innerHTML
  let nom = laLigne.children[1].innerHTML
 let telephone = laLigne.children[3].innerHTML
 let email = laLigne.children[4].innerHTML

let elmForm = document.getElementById('mon_formulaire')
 console.log(elmForm.tagName)
 let elmInput = elmForm.querySelectorAll('input')
 elmInput[0].value = id
 elmInput[1].value = prenom
 elmInput[2].value = nom
 elmInput[3].value = telephone
 elmInput[4].value = email

elmForm.submit()

 })
 } 
</script>

<%- include('composants/footer.ejs') %>
</body>
</html>