html {
  background-color: #f0f0f0;
}
body {
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
.tableau {
  border-collapse: collapse;
}
.tableau td,
.tableau th {
  border: 1px solid black;
  padding: 5px;
}
.tableau th {
  background-color: goldenrod;
  text-transform: capitalize;
}
.tableau th a {
  color: white;
  text-decoration: none;
}
form {
  border: 1px solid black;
  padding: 30px;
}
#mon_formulaire {
  display: none;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  margin: 10px;
}
nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: goldenrod;
}
nav ul a:hover {
  color: black;
  cursor: pointer;
}
.fa-database {
  color: goldenrod;
  font-size: 120px;
}
