html{
    background-color: rgb(240, 240, 240);
}

body {
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    flex-direction: column;
  }

  .tableau{
    border-collapse:collapse;
    
    td,th{
        border:1px solid black;
        padding:5px;
    }

    th{
        background-color: goldenrod;
        text-transform: capitalize;

        a{
            color: white;
            text-decoration: none;
        }
    }
}

form{
    border:1px solid black;
    padding:30px;
}

#mon_formulaire{
  display: none;
}

nav{

     ul{
      display: flex;
      list-style-type: none;
      padding:0;

      li{
          margin:10px;
      }

      a{
          text-decoration: none;
          text-transform: uppercase;
          color:goldenrod;
      }

      a:hover {
          color: black;
          cursor: pointer;
      }
    }
}

.fa-database {
    color: goldenrod;
    font-size: 120px;
}

 
